<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="form_panel mt-3">
            <div class="card">
                <h1 class="card-header bg-primary"><i class="fab fa-intercom text-white"></i> <small
                        class="text-white h4 ml-3">Customer register</small></h1>
                <form #f="ngForm" (ngSubmit)="add_customer(f.value)" novalidate>
                    <!-- Contact Name -->
                    <div class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="contactFirstName" class="col-3 col-form-label">Firstname</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" ngModel="Supak" required
                                                #contactFirstName name="contactFirstName" placeholder="Supak">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="contactLastName" class="col-3 col-form-label">Lastname</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="contactLastName"
                                                placeholder="Pukdam" ngModel="Pukdam" required #contactLastName>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="phone" class="col-3 col-form-label">Phone</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="phone"
                                                placeholder="40.32.2555" ngModel="40.32.2555" required #phone>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="salesRepEmployeeNumber" class="col-3 col-form-label">SRE.
                                            Number</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="salesRepEmployeeNumber"
                                                placeholder="1504" ngModel="1504" required #salesRepEmployeeNumber>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small class="ml-5 text-left form-text text-muted">We'll never share your
                                Contactname with
                                anyone else.</small>
                        </div>
                    </div>
                    <!-- Contact Name -->

                    <!-- Address -->
                    <div class="card-body">
                        <h5 class="card-title">Address</h5>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="addressLine1" class="col-3 col-form-label">First adress</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="addressLine1"
                                                placeholder="Bangkok" ngModel="Bangkok" required #addressLine1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="addressLine2" class="col-3 col-form-label">Second address</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="addressLine2"
                                                placeholder="Hua-Hin" ngModel="Hua-Hin" required #addressLine2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="postalCode" class="col-3 col-form-label">Postal code</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="postalCode"
                                                placeholder="44000" ngModel="44000" required #postalCode>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="state" class="col-3 col-form-label">State</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="state" placeholder="USA"
                                                ngModel="USA" required #state>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="city" class="col-3 col-form-label">City</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="city" placeholder="Nantes"
                                                ngModel="Nantes" required #city>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="country" class="col-3 col-form-label">Country</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="country" placeholder="France"
                                                ngModel="France" required #country>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small class="ml-5 text-left form-text text-muted">We'll never share your
                                Address with
                                anyone else.</small>
                        </div>
                    </div>
                    <!-- Address -->

                    <!-- Customer -->
                    <div class="card-body">
                        <h5 class="card-title">Customer</h5>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="customerName" class="col-3 col-form-label">Full name</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="customerName"
                                                placeholder="Somcahi Jaidee" ngModel="France" required #customerName>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="customerNumber" class="col-3 col-form-label">Number</label>
                                        <div class="col-9">
                                            <input readonly type="text" class="form-control" name="customerNumber"
                                                placeholder="101" ngModel="121" required #customerNumber>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="creditLimit" class="col-3 col-form-label">CreditLimit</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="creditLimit"
                                                placeholder="21000" ngModel="21000" required #creditLimit>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <small class="ml-5 text-left form-text text-muted">We'll never share your
                                Customer with
                                anyone else.</small>
                        </div>
                    </div>
                    <!-- Customer -->

                    <!-- btn-form -->
                    <div class="card-body">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- btn-form -->

                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col">

        <div class="form_panel mt-3">
            <div class="card">
                <h1 class="card-header bg-primary"><i class="fab fa-intercom text-white"></i> <small
                        class="text-white h4 ml-3">Customer list</small></h1>
                <div class="card-body">
                    <div class="row">
                        <div *ngFor="let item of this.customerList; let i = index" class="col-4">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                        </div>
                                        <div class="col-mx">
                                            <button class="btn btn-danger text-right" (click)="del_customer(item)"><i
                                                    class="fas fa-ban"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">{{i+1}}. <span *ngIf="(item.contactFirstName)"
                                                    class="card-text">{{item.contactFirstName}}</span> <span
                                                    *ngIf="(!item.contactFirstName)" class="card-text">NO DATA</span>
                                                &nbsp; <span *ngIf="(item.contactFirstName)"
                                                    class="card-text">{{item.contactLastName}}</span> <span
                                                    *ngIf="(!item.contactLastName)" class="card-text">NO DATA</span>
                                            </h5>
                                        </div>
                                        <div class="col-mx">
                                        </div>
                                    </div>
                                    <div class="row ml-1">
                                        <div class="col-mx">
                                            <p class="card-text h5 mt-1">Customer : </p>
                                        </div>
                                        <div class="col-mx ml-2">
                                            <input *ngIf="(item.customerName)" [(ngModel)]="item.customerName"
                                                type="text" class="form-control" placeholder="item.customerName">
                                            <input *ngIf="(!item.customerName)" [(ngModel)]="item.customerName"
                                                type="text" class="form-control" placeholder="NO DATA">
                                        </div>
                                        <div class="col-mx ml-2">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        </div>
                                        <div class="col-mx">
                                            <button class="btn btn-primary"
                                                (click)="edit_customer(item,item.customerName)"><i
                                                    class="fas fa-pen"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--  -->

        <!--  -->
    </div>
</div>