<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="form_panel mt-3">
            <div class="card">
                <h1 class="card-header bg-primary"><i class="fab fa-intercom text-white"></i> <small
                        class="text-white h4 ml-3">Customer register</small></h1>
                <form>
                    <!-- Contact Name -->
                    <div class="card-body">
                        <h5 class="card-title">Contact Name</h5>
                        <div class="form-group text-right">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="contactFirstName" class="col-3 col-form-label">Firstname</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="contactFirstName"
                                                placeholder="Supak">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="contactLastName" class="col-3 col-form-label">Lastname</label>
                                        <div class="col-9">
                                            <input type="text" class="form-control" name="contactLastName"
                                                placeholder="Pukdam">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small id="emailHelp" class="ml-5 text-left form-text text-muted">We'll never share your
                                Contactname with
                                anyone else.</small>
                        </div>
                    </div>
                    <!-- Contact Name -->

                    <!-- btn-form -->
                    <div class="card-body">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- btn-form -->

                </form>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<p>customer works!</p>
addressLine1: "54, rue Royale"
addressLine2: null
city: "Nantes"
contactFirstName: "Carine "
contactLastName: "Schmitt"
country: "France"
creditLimit: 21000
customerName: "Atelier graphique"
customerNumber: 103
phone: "40.32.2555"
postalCode: "44000"
salesRepEmployeeNumber: 1370
state: null
<form #f="ngForm" (ngSubmit)="add_customer(f.value)" novalidate>
    <input name="contactFirstName" ngModel required #contactFirstName placeholder="Carine">
    <input name="contactLastName" ngModel required #contactLastName placeholder="Schmitt">
    <input name="addressLine1" ngModel required #addressLine1 placeholder="54, rue Royale">
    <input name="addressLine2" ngModel required #addressLine2 placeholder="56, rue Royale">
    <input name="city" ngModel required #city placeholder="Nantes">
    <input name="country" ngModel required #country placeholder="France">
    <input name="creditLimit" ngModel required #creditLimit placeholder="21000">
    <input name="customerName" ngModel required #customerName placeholder="Atelier graphique">
    <!-- <input name="customerNumber" ngModel required #customerNumber placeholder="103"> -->
    <input name="phone" ngModel required #phone placeholder="40.32.2555">
    <input name="postalCode" ngModel required #postalCode placeholder="44000">
    <input name="salesRepEmployeeNumber" ngModel required #salesRepEmployeeNumber placeholder="1370">
    <input name="state" ngModel required #state placeholder="Schmitt">
    <button>Submit</button>
    <button (click)="get_hello(); $event.preventDefault()">Hello</button>
</form>

<p>First name value: {{ contactFirstName.value }}</p>
<p>Last name valid: {{ contactLastName.value }}</p>
<ul>
    <li *ngFor="let item of this.customerList; let i = index">
        {{item.customerNumber}}
        {{item.customerName}}
        {{item.contactLastName}}
        <button (click)="del_customer(item)">x</button>
        <input #f type="text"><button (click)="edit_customer(item,f.value)">update</button>
    </li>
</ul>